[Unit]
Description=QoS default initialization
After=opx-cps.service opx-nas.service opx-create-interface.service
Wants=opx-cps.service opx-nas.service opx-create-interface.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/base_qos_init.sh

[Install]
WantedBy=multi-user.target
